.header{
height:100px;
background-color: #6b5fb9;
}

.s1 ul
{
  text-align:centre;
 }
.header h1
{
   padding-left:40%;
   padding-top:2%;
}

.s1
{
  margin-top:10px;
  background-color:#e8effc;
}|